
.filter__main-wrap {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft YaHei", "PingFang SC", "Helvetica Neue",
    Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei",
    sans-serif;
}

.filter__main-wrap ::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: #eee;
}
.filter__main-wrap ::-webkit-scrollbar-track {
  border-radius: 4px;
  overflow: hidden;
}
.filter__main-wrap ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #0067c7;
}
.filter__main-wrap .float-r {
  float: right;
}
.filter__main-wrap .pos-r {
  position: relative;
}
.filter__main-wrap .pos-a {
  position: absolute;
}
.filter__main-wrap .pos-f {
  position: fixed;
}
.filter__main-wrap .pos-i {
  position: inherit;
}

.filter__main-wrap .trans-c {
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
}
.filter__main-wrap .trans-y-c {
  transform: translate3d(0, -50%, 0);
  top: 50%;
}

.filter__main-wrap .p-8 {
  padding: 8px;
}
.filter__main-wrap .py-8 {
  padding: 8px auto;
}
.filter__main-wrap .px-8 {
  padding: auto 8px;
}
.filter__main-wrap .my-8 {
  margin: 8px auto;
}
.filter__main-wrap .mt-8 {
  margin-top: 8px;
}
.filter__main-wrap .mt-16 {
  margin-top: 16px;
}
.filter__main-wrap .mb-8 {
  margin-bottom: 8px;
}
.filter__main-wrap .mb-12 {
  margin-bottom: 12px;
}
.filter__main-wrap .mb-16 {
  margin-bottom: 16px;
}
.filter__main-wrap .checkbox {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

.filter__main-wrap .highlight {
  color: #1890ff;
  font-weight: 600;
}

.filter__main-wrap .bg-white {
  background-color: #fff;
}
.filter__main-wrap .round-2 {
  border-radius: 2px;
}
.filter__main-wrap .bg-blue {
  background-color: #1890ff;
}
.filter__main-wrap .border-color-blue {
  border-color: #1890ff;
}
.filter__main-wrap .color-blue {
  color: #1890ff;
}
.filter__main-wrap .color-white {
  color: #fff;
}
